.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.input {
  height: 15rem;
  width: 30rem;
}

pre {
  color: green;
}

.App {
  height: 80rem;
  background-color: black;
}